<div class="main-container">
  <div class="content-container">
    
<button pButton type="button" label="Incluir pessoa" icon="pi pi-user-plus" class="buttons" (click)="mostrarFormulario = !mostrarFormulario"></button>
  <div *ngIf="mostrarFormulario">
    <div class="painel p-4">
      <h3 class="mb-3"> </h3>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="nome">Nome</label>
          <input id="nome" type="text" pInputText [(ngModel)]="novoHospede.nome" placeholder="Nome do hóspede" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="cpf">CPF</label>
          <input id="cpf" type="text" pInputText [(ngModel)]="novoHospede.cpf" placeholder="CPF do hóspede" />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="telefone">Telefone</label>
          <input id="telefone" type="text" pInputText [(ngModel)]="novoHospede.telefone" placeholder="Telefone do hóspede" />
        </div>
        <div class="p-field p-col-12">
          <button pButton type="button" label="Salvar" icon="pi pi-plus" (click)="adicionarHospede()"></button>
        </div>
      </div>
    </div>
  </div>
</div>